#clockContainer{  
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw; 
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px; 
    transform-origin: bottom;
}
#circle{
    position: relative;
    /* margin: auto; */
    height: 10vw;
    width: 3vw;
    top: 47%;
    left: 18.3vw;
    background: url(circle.jpg) no-repeat;
    background-size: 100%;
}
#hour{
    width: 1.8%;
    height: 18%;
    top: 34%;
    left: 48.85%;
    opacity: 0.8;  
    /* display: none; */
}
#minute{
    width: 1.2%;
    height: 28%;
    top: 23%;
    left: 48.9%;
    opacity: 0.8;
/* 
    display: none; */
}
#second{
    width: 1%;
    height: 35%;
    top: 16%;
    left: 49.25%;
    opacity: 0.8; 
    
}